
// Colors
// ======
$color-background-body: #fff;
$color-background-screen: #f1f1f1;
$color-background-hr: #ccc;
$color-background-button: #e6e6e6;
$color-background-pre: #eee;
$color-background-ins: #fff9c0;

$color-text-screen: #21759b;
$color-text-input: #666;
$color-text-input-focus: #111;
$color-link: royalblue;
$color-link-visited: purple;
$color-link-hover: midnightblue;
$color-text-main: #404040;

$color-border-button: #ccc #ccc #bbb;
$color-border-button-hover: #ccc #bbb #aaa;
$color-border-button-focus: #aaa #bbb #bbb;
$color-border-input: #ccc;
$color-border-abbr: #666;

// Typography and vertical rhythm.
// ===============================
$font-main: sans-serif;
$font-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-pre: "Courier 10 Pitch", Courier, monospace;

// Set the vertical unit to a value that is smaller than
// your target $line-height-base value (below) and can
// be multiplied by a value such as 1.25 (included fractional
// values should be .25, .5 or .75 so they can quickly
// sync back up w/the line height.
$vertical-unit: 16px;

$font-size-base: 18px;

// Use're using same unit of measure (px) for font size
// and line-height (not a line-height that's relative to
// font-size) so vertical rhythm is possible.
$line-height-base: $vertical-unit * 1.5;

// Dimensions
// ==========
$layout-width-max: 1140px;

// Somewhat arbitrary horizontal unit. Not used in Susy
// configuration, but will be more consistent than using ems.
$horizontal-unit: 16px;

// Breakpoints.
$bp-xs-max: 479px;

$bp-sm-min: $bp-xs-max + 1;
$bp-sm-max: 767px;

$bp-md-min: $bp-sm-max + 1;
$bp-md-max: 991px;

$bp-lg-min: $bp-md-max + 1;
$bp-lg-max: 1119px;

$bp-xl-min: $bp-lg-max + 1;

// Layout (Susy)
// =============
$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: $layout-width-max,
  container-position: center,
  columns: 9, // use cols for largest size
  gutters: .1,
  column-width: false,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (
    image: hide, // *** one of "show" or "hide" to view grid visualization ***
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: false,
  )
);
