
// Colors
// ======
$color-background-body: #fff;
$color-background-screen: #f1f1f1;
$color-background-hr: #ccc;
$color-background-button: #e6e6e6;
$color-background-pre: #eee;
$color-background-ins: #fff9c0;

$color-text-screen: #21759b;
$color-text-input: #666;
$color-text-input-focus: #111;
$color-link: royalblue;
$color-link-visited: purple;
$color-link-hover: midnightblue;
$color-text-main: #404040;

$color-border-button: #ccc #ccc #bbb;
$color-border-button-hover: #ccc #bbb #aaa;
$color-border-button-focus: #aaa #bbb #bbb;
$color-border-input: #ccc;
$color-border-abbr: #666;

// Typography
// ==========
$font-main: sans-serif;
$font-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-pre: "Courier 10 Pitch", Courier, monospace;
$font-line-height-body: 1.5;
$font-line-height-pre: 1.6;

// Dimensions
// ==========
$layout-width-max: 1140px;

// Breakpoints, qty of columns at each.
$bp-xs-cols: 1;
$bp-xs-max: 479px;

$bp-sm-cols: 2;
$bp-sm-min: $bp-xs-max + 1;
$bp-sm-max: 767px;

$bp-md-cols: 3;
$bp-md-min: $bp-sm-max + 1;
$bp-md-max: 991px;

$bp-lg-cols: 6;
$bp-lg-min: $bp-md-max + 1;
$bp-lg-max: 1119px;

$bp-xl-cols: 9;
$bp-xl-min: $bp-lg-max + 1;


// Layout (Susy)
// =============
$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: $layout-width-max,
  container-position: center,
  columns: $bp-xl-cols, // use cols from largest size
  gutters: .15,
  column-width: false,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (
    image: show, // *** "show" or "hide" grid visualization ***
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);
