.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			background-color: rgba(255, 255, 255, 0.8);
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			font-size: 0.875em;
			left: -999em;
			line-height: $vertical-unit;
			padding-top: $vertical-unit/2;
			position: absolute;
			top: $vertical-unit * 1.5;
			z-index: 99999;

			ul {
				font-size: 1em; // prevent compounding
				left: -999em;
				padding-top: 0; // don't want to push this level (3rd) down
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a { // second level and beyond.
				padding: $vertical-unit/4 $horizontal-unit/2;
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		margin-right: $horizontal-unit;
		position: relative;
		&:last-of-type {
			margin-right: 0;
		}
		li {
			margin-right: 0;
			padding: 0;
		}

		&:hover > a,
		&.focus > a {
		}

	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: $bp-sm-min) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $vertical-unit;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
