/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:hover,
	&:active,
	&:focus {
		background-color: $color-background-screen;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: $color-text-screen;
		display: block;
		font-size: $font-size-base * 0.875;
		font-weight: bold;
		height: auto;
		left: $horizontal-unit * 0.5;
		line-height: normal;
		padding: $vertical-unit $horizontal-unit;
		text-decoration: none;
		top: $vertical-unit * 0.5;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

.alignleft {
	display: inline;
	float: left;
	margin-right: $horizontal-unit * 2;
}

.alignright {
	display: inline;
	float: right;
	margin-left: $horizontal-unit * 2;
}

.aligncenter {
	@include center-block;
}

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	@include clearfix;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	@include clearfix-after;
}
