// Primary theme SCSS file for strtr.

// Include partials with no output first.
@import "base";
@import "compass/css3";
@import "compass/utilities";
@import "susy";
@import "pug";
@import "mixins-underscores"; // mixins ported from underscores
@import "mixins-custom";      // mixins custom for this project

// Now the rest of the style partials, from generic to specific.
@import "normalize";
@import "semantic";           // custom semantic markup styles
@import "wp-utilities";       // wp utility classes
@import "wp-layout";          // site layout, dimensions
@import "wp-menus";           // menus and navigation
@import "wp-content";         // styles for posts, pages etc
@import "wp-widgets";         // widget-related styles
@import "wp-media";           // styles for wp media classes
@import "wp-comments";        // styles for comments
@import "misc";               // styles not handled elsewhere

// @import "wp-infinite-scroll";

